.slide {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
}

.slide_item {
  position: relative;
  background: linear-gradient(30deg, #3c40c6, #5d62f1, #8c90f1, #dfeaf3);
  width: 10rem;
  height: 16rem;
  color: rgb(255 255 255);
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: 0.9s linear;
  transform: translate(0, 0) scaleX(1);
  transform-origin: right 70%;
  opacity: 0.8;
  border-radius: 5px;
  z-index: 10;
}
.slide_item:hover {
  transition: 0.9s linear;
  background: linear-gradient(30deg, #dfeaf3, #8c90f1, #5d62f1, #3c40c6);
}

.slide_content {
  visibility: hidden;
  position: absolute;
  padding-left: 70px;
  top: 65%;
  z-index: 20;
  font-size: 0.6rem;
  font-weight: bold;
  color: rgb(239, 237, 241);
  transition: 0.9s linear;
  transform: translate(-80px, -20px);
  transform-origin: right 70%;
  opacity: 0.1;
  visibility: hidden;
}
.slide_button {
  cursor: pointer;
  display: flex;
  position: relative;
  left: -3px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 10rem;
  height: 2rem;
  background-color: #3c40c6;
  transform: skewX(-15deg);
  border-radius: 5px;
  top: 300px;
  box-shadow: 2px 4px 5px 0px rgba(51, 11, 51, 1);
  opacity: 1;
  color: white;
}
.slide_text {
  height: 100%;
  width: 20px;
  color: white;
}
.linkCertificate {
  opacity: 0.5;
}
.linkCertificate:hover {
  color: #3c40c6;
  font-weight: bold;
  opacity: 1;
}

.slide_item:hover ~ .linkCertificate {
  transition: 0.9s linear;
  opacity: 1;
}
.slide_button:hover ~ .slide_item {
  opacity: 0.9;
  border-radius: 5px;
  background-color: rgb(144, 235, 235);
  box-shadow: 2px 4px 5px 0px rgba(51, 11, 51, 1);
  transition: 0.9s linear;
  transform: translate(-20px, -30px) scaleX(1.1) scaleY(1.1);
  /* z-index: 100; */
}

.slide_button:hover ~ .slide_content {
  opacity: 1;
  visibility: visible;
  transition: 0.9s linear;
  transform: translate(0px, 0px) scaleX(1.2) scaleY(1.2);
  /* z-index: 0; */
}

/* .slideItem:hover {
  opacity: 0.1;

  animation: backgroundUp 2s linear alternate forwards;
} */

/* .slideItem {
  animation: reverseFill 2s linear reverse forwards;
}

@keyframes backgroundUp {
  from {
    background-color: rgb(59 130 246);
    opacity: 0.1;
    height: 5%;
  }
  10% {
    background-color: rgb(59 130 246);
    opacity: 0.1;
    height: 10%;
  }
  50% {
    background-color: rgb(189, 44, 141);
    opacity: 0.5;
    height: 50%;
  }
  70% {
    background-color: rgb(189, 44, 141);
    opacity: 0.7;
    height: 70%;
  }
  to {
    background-color: rgb(189, 44, 141);
    opacity: 1;
    height: 100%;
  }
}
@keyframes reverseFill {
  from {
    background-color: rgb(59 130 246);
    opacity: 0;
    height: 5%;
  }
  10% {
    background-color: rgb(59 130 246);
    opacity: 0.1;
    height: 10%;
  }
  50% {
    background-color: rgb(189, 44, 141);
    opacity: 0.5;
    height: 50%;
  }
  70% {
    background-color: rgb(189, 44, 141);
    opacity: 0.7;
    height: 70%;
  }
  to {
    background-color: rgb(189, 44, 141);
    opacity: 1;
    height: 100%;
  }
} */
