@media (min-width: 790px) {
  .container {
    scrollbar-width: none;
    max-height: 87vh;
  }
  .container > div > div {
    display: flex;
    height: initial;
    align-items: center;
    justify-content: center;
  }

  .text {
    padding-top: 200px;
    pointer-events: none;
    justify-content: start !important;
    align-items: baseline !important;
    font-family: "Kanit", sans-serif;
    line-height: 0px;
    text-transform: uppercase;
  }

  .number {
    font-size: 100px;
    color: #545864;
  }

  .number span {
    display: inline-block;
    position: relative;
  }

  .slopeBegin {
    background-color: #20232f;
    clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
  }

  .slopeEnd {
    clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
  }

  .slopeBegin,
  .slopeEnd {
    position: absolute;
    width: 170%;
    height: 100%;
    cursor: pointer;
  }

  .pink {
    background: linear-gradient(to right, rgb(235, 226, 177) 30%, coral 100%);
  }

  .teal {
    background: linear-gradient(
      to right,
      rgb(187, 219, 238) 30%,
      DeepSkyBlue 100%
    );
  }

  .tomato {
    background: linear-gradient(to right, DeepSkyBlue 30%, gold 100%);
  }
}

/* @media (max-width: 790px) {
} */
